{% load static i18n %}
<!-- Footer
		============================================= -->
		<footer id="footer" class="dark">

			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap clearfix">

					<div class="col_two_third">

						<div class="col_one_third">

							<div class="widget clearfix">

								<img src="{% static 'images/logo-dark.png' %}" alt="" class="footer-logo">

								<p>analytics for on-chain content.</p>

								<div style="background: url('{% static 'images/world-map.png' %}') no-repeat center center; background-size: 100%;">
									<address>
										<strong>Headquarters:</strong><br>
										2101 Cedar Springs Rd, Suite 1050E<br>
										Dallas, TX 75201<br>
									</address>
									<abbr title="Email Address"><strong>Email:</strong></abbr> hello@casalytica.com
								</div>

							</div>

						</div>

						<div class="col_one_third">

							<div class="widget widget_links clearfix">

								<h4>Resources</h4>

								<ul>
									<li><a href="https://api.casalytica.com/docs/">API Documentation</a></li>
									<li><a href="https://www.npmjs.com/package/@socialhose/casalytica">NPM Package</a></li>
								</ul>

							</div>

						</div>

						<div class="col_one_third col_last">

							<div class="widget clearfix">
								<h4>Recent Posts</h4>

								<div id="post-list-footer">
									<div class="spost clearfix">
										<div class="entry-c">
											<div class="entry-title">
												<h4><a href="https://diamondapp.com/u/elzubeir/blog/why-deso-will-never-solve-those-problems">
                          Why deso will never solve those problems</a></h4>
											</div>
											<ul class="entry-meta">
												<li>Nov 18, 2022</li>
											</ul>
										</div>
									</div>

									<div class="spost clearfix">
										<div class="entry-c">
											<div class="entry-title">
												<h4><a href="https://diamondapp.com/u/elzubeir/blog/social-apps-need-to-adopt-web3-yesterday">
                          Social apps need to adopt web3 yesterday</a></h4>
											</div>
											<ul class="entry-meta">
												<li>Nov 5, 2022</li>
											</ul>
										</div>
									</div>

								</div>
							</div>

						</div>

					</div>

					<div class="col_one_third col_last">

						<div class="widget clearfix" style="margin-bottom: -20px;">

							<div class="row">

								<div class="col-lg-6 bottommargin-sm">
									<div class="counter counter-small"><span data-from="50" data-to="5" data-refresh-interval="80" data-speed="3000" data-comma="true"></span></div>
									<h5 class="nobottommargin">Total Downloads</h5>
								</div>

								<div class="col-lg-6 bottommargin-sm">
									<div class="counter counter-small"><span data-from="100" data-to="1" data-refresh-interval="50" data-speed="2000" data-comma="true"></span></div>
									<h5 class="nobottommargin">Clients</h5>
								</div>

							</div>

						</div>



						<div class="widget clearfix" style="margin-bottom: -20px;">

							<div class="row">

								<div class="col-lg-6 clearfix bottommargin-sm">
									<a href="https://diamondapp.com/u/casalytica" class="social-icon si-dark si-colored si-diamond nobottommargin" style="margin-right: 10px;">
										<i class="icon-diamond"></i>
										<i class="icon-diamond"></i>
									</a>
									<a href="#"><small style="display: block; margin-top: 3px;"><strong>Follow us</strong><br>on Diamond</small></a>
								</div>
								<div class="col-lg-6 clearfix">
								</div>

							</div>

						</div>

					</div>

				</div><!-- .footer-widgets-wrap end -->

			</div>

			<!-- Copyrights
			============================================= -->
			<div id="copyrights">

				<div class="container clearfix">

					<div class="col_half">
						Copyrights &copy; 2022 All Rights Reserved by Casalytica, a SOCIALHOSE project.<br>
						<div class="copyright-links"><a href="https://www.socialhose.io/en/legal/terms">Terms of Use</a> / <a href="https://www.socialhose.io/en/legal/privacy">Privacy Policy</a></div>
					</div>

					<div class="col_half col_last tright">
						<div class="fright clearfix">@casalytica
							<a href="https://diamondapp.com/u/casalytica" class="social-icon si-small si-borderless si-diamond">
								<i class="icon-diamond"></i>
								<i class="icon-diamond"></i>
							</a>


						<div class="clear"></div>

						<i class="icon-envelope2"></i> hello@casalytica.com <span class="middot">&middot;</span>
					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->
