{% load static i18n %}

		<!-- Header
		============================================= -->
		<header id="header" class="transparent-header page-section dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="#" class="standard-logo"
              data-dark-logo="{% static 'images/logo-dark.png' %}">
              <img src="{% static 'images/logo.png' %}" alt="Casalytica Logo"></a>
						<!--
              <a href="#" class="retina-logo"
              data-dark-logo="{% static 'images/logo-dark@2x.png' %}">
              <img src="{% static 'images/logo@2x.png' %}" alt="Casalytica Logo"></a>
            -->
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu">

						<ul class="one-page-menu">
							<li class="current"><a href="#" data-href="#header"><div>Home</div></a></li>
              <li><a href="https://github.com/melzubeir/casalytica"><div>Github</div></a></li>
              <li><a href="https://api.casalytica.com/docs/"><div>API Docs</div></a></li>
							<li><a href="https://github.com/melzubeir/casalytica/wiki/Roadmap"><div>Roadmap</div></a></li>

							<li><a href="#" data-href="#"><div>Login</div></a></li>
						</ul>

					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->
