DJANGO_SECRET_KEY=changeme
ENVIRONMENT=development
DEBUG=1
DB_NAME=casalytica
DB_USER=casalytica
DB_PASS=changeme
DB_HOST=db
DATABASE_URL=
GEOIP_PATH=static/data/
MAXMIND_ACCOUNT_ID=
MAXMIND_LICENSE_KEY=
AWS_REGION=us-east-2
USE_S3=0
S3_USER=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_DEFAULT_ACL=public-read
AWS_S3_CUSTOM_DOMAIN=
