{% load static i18n %}

<div class="container clearfix">

  <div id="section-buy" class="heading-block title-center nobottomborder page-section">
    <h2>Seen Enough? Integrate Today</h2>
    <span>You can either talk about it or do something about it. Let's do something about it!</span>
  </div>

  <div class="center">

    <a href="https://www.npmjs.com/package/@socialhose/casalytica" data-animate="tada" class="button button-3d button-teal button-xlarge nobottommargin">
      <i class="icon-star3"></i>Download NPM Package</a> - OR -

    <a href="#" data-scrollto="#section-pricing" class="button button-3d button-red button-xlarge nobottommargin">
      <i class="icon-user2"></i>Sign Up for an Account</a>

  </div>

</div>
