{% load static i18n %}
<div class="container clearfix">

  <div class="clear bottommargin-lg"></div>
<div id="section-features" class="heading-block title-center page-section">
  <h2>Features Overview</h2>
  <span>Some of the features that make casalytica a game changer</span>
</div>

<div class="col_one_third">
  <div class="feature-box fbox-plain">
    <div class="fbox-icon" data-animate="bounceIn">
      <a href="#"><img src="{% static 'images/icons/features/responsive.png' %}" alt="Powerful API"></a>
    </div>
    <h3>Powerful API</h3>
    <p>You pass on the basics, beginning with the post hashes and any visitor data you may have. We take that and turn it into
      insights.
    </p>
  </div>
</div>

<div class="col_one_third">
  <div class="feature-box fbox-plain">
    <div class="fbox-icon" data-animate="bounceIn" data-delay="200">
      <a href="#"><img src="{% static 'images/icons/features/retina.png' %}" alt="Demographics"></a>
    </div>
    <h3>Demographics</h3>
    <p>Find out where those ip addresses are coming from, devices and software used to view the on-chain content served by your app.</p>
  </div>
</div>

<div class="col_one_third col_last">
  <div class="feature-box fbox-plain">
    <div class="fbox-icon" data-animate="bounceIn" data-delay="400">
      <a href="#"><img src="{% static 'images/icons/features/performance.png' %}" alt="Deso First"></a>
    </div>
    <h3>Deso First</h3>
    <p>While our service is designed for any on-chain content, it is built with DeSo first, which is why is is aware of
      DeSo nodes and their operators as well.
    </p>
  </div>
</div>


<div class="clear"></div>
<div class="divider divider-short divider-center"><i class="icon-circle"></i></div>

<div class="clear"></div>

</div>
