{% extends '._themebase.html' %}
{% load static i18n %}

{% block title %}Login{% endblock title%}

{% block content %}


	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap nopadding">

				<div class="section nopadding nomargin" style="width: 100%; height: 100%; position: absolute; left: 0; top: 0;
        background: url('{% static 'images/casalytica1.png' %}') center center no-repeat; background-size: cover;"></div>

				<div class="section nobg full-screen nopadding nomargin">
					<div class="container-fluid vertical-middle divcenter clearfix">

						<div class="center">
							<a href="index.html"><img src="{% static 'images/logo-dark.png' %}" height="100" alt="Casalytica Logo"></a>
						</div>

						<div class="card divcenter noradius noborder" style="max-width: 400px; background-color: rgba(255,255,255,0.93);">
							<div class="card-body" style="padding: 40px;">
								<form id="login-form" name="login-form" class="nobottommargin" action="#" method="post">
									<h3>Login to your Account</h3>

									<div class="col_full">
										<label for="login-form-username">Username:</label>
										<input type="text" id="login-form-username" name="login-form-username" value="" class="form-control not-dark" />
									</div>

									<div class="col_full">
										<label for="login-form-password">Password:</label>
										<input type="current-password" id="login-form-password" name="login-form-password" value="" class="form-control not-dark" />
									</div>

									<div class="col_full nobottommargin">
										<button class="button button-3d button-black nomargin" id="login-form-submit" name="login-form-submit" value="login">Login</button>
										<a href="#" class="fright">Forgot Password?</a>
									</div>
								</form>

								<div class="line line-sm"></div>
                <div class="mt-6" id="loggedin">

                </div>
								<div class="center">
									<h4 style="margin-bottom: 15px;">or Login with:</h4>
									<button type="button" id="login"
                    onclick="login();" class="button button-rounded si-deso si-colored">DeSo</button>
								</div>

							</div>

						</div>
						<div class="center dark"><small>Copyrights &copy; All Rights Reserved by Casalytica</small></div>

					</div>
				</div>

			</div>

		</section><!-- #content end -->

	</div><!-- #wrapper end -->



{% endblock content %}
